/* fonts */
@import url(http://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600,700);

/* general style */
body          { font: 13px 'IBM Plex Sans', sans-serif; font-weight: 300; }
h1			      { margin: 25px 0 25px 0; font-size: 15px; }
a             { color: black; font-weight: 400; }
a:hover       { color: #70A19A; }
span          { margin: 0 10px 0 0; }

ul.entries    { list-style: none; margin: 5px 0 5px -15px; }

/* layout elements */
div.container               { margin: 25px auto; padding 0 2em; max-width: 650px; }
div.body                    { clear: both; }
div.nav                     { float: right; }
div.nav ul                  { list-style: none; margin: 0; }
div.nav ul li               { display: inline; padding: 0; }
div.header, div.nav         { height: 25px; margin-bottom: 25px; }
div.footer                  { border-top: 1px solid #CCC; margin-top: 50px;
                              padding-top: 10px; }
div.footer p                { margin: 1px 0; font-size: 13px; }
